# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Env
.env*
!.env.example


# Front build
client/build/
client/.cache/


# Studio build
studio/dist/


# Tooling
.vercel/
.netlify/
.railway/
.DS_Store