

.hero-section {
  height: 100vh; /* Ensures the section is tall enough for scrolling */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;

}
.thingsMind{
  padding: 1.4em 0.5em;
display:flex;
justify-content: space-between;
align-items:center;

  
}
.thingsTitle{
width:50%;
height:100%;

}
.thingsTitle p{
  
}
.thingsTitle h3{
 padding:5px 0 20px 0;
 font-size: calc(2.8vw + 2.5rem);
 font-weight: 200;
  }
  .thingsText h4{
    font-size: calc(0.8vw + 0.5rem);
  max-width: calc(500px - 5vw);
  margin: calc(0rem + 0vw) 0;
  font-weight: 200;
  text-align: left;
  line-height: 1.2em;
     }

.thingsText{
  width:30%;
  height:100%;
}

hr.style4 {
  border-top: 2px solid;
  position: relative;
}
.fixed-text {
  position: sticky;
  top: 15%;
  z-index: 10;
  width: 100%;
}

.fixed-text h1 {
  font-size: calc(5.8vw + 2.5rem);
  margin: 0;
  font-weight: 400;
  text-align: left;
  padding-bottom: 20px;
}
.fixed-text1 {
 
  width: 100%;
}

.fixed-text1 h2 {
  font-size: calc(5.8vw + 2.5rem);
  margin: 0;
  font-weight: 400;
  text-align: left;
  padding-bottom: 20px;
}


.fixed-text2 {
  width: 100%;

}
.fixed-text2 h2 {
  font-size: calc(4.8vw + 2.5rem);
  margin: 0;
  font-weight: 400;
  text-align: right;
  padding-bottom: calc(4.8vw + 2.5rem);
  line-height:1.2em;
 
}
.fixed-text3 {
  width: 100%;
}

.fixed-text3 h2 {
  font-size: calc(4vw + 0.5rem);
  margin: 0;
  font-weight: 400;
  text-align: left;
  padding-bottom: calc(4.8vw + 2.5rem);
  line-height:1.2em;
}
.textFixed {
  max-width: calc(950px - 5vw);
  padding-bottom: calc(80px + 1rem);
}

.textScroll {
  max-width: calc(50% - 2rem);
  float: right;
  
}

.cta-scroll {
  margin-top: calc(4rem + 2vw);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cta-scroll span {
  font-size: calc(0.8rem + 0.5vw);
  margin-bottom: 0.5rem;
  border: solid 2px;
  border-radius: 30px;
  padding: calc(0px + 1vw) calc(10px + 1vw);
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.cta-scroll span:hover {
  color: #fff;
  background-color: #000;
}

.scroll-text {
  opacity: 0;
  transform: translate3d(0, 220px, 0);
  width: 100%;
  transition: opacity 4.5s ease-out, transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.scroll-text.animate {
  opacity: 1;
  transform: translate3d(0, -50px, 0);
}

.scroll-text h6 {
  font-size: calc(1.0vw + 0.5rem);
  max-width: calc(500px - 5vw);
  margin: calc(0rem + 0vw) 0;
  font-weight: 200;
  text-align: left;
  line-height: 1.2em;
}

.fixed-text .line {
  opacity: 0;
  display: block;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fixed-text .line.animate {
  opacity: 1;
  transform: translateY(0);
}
.fixed-text1 .line {
  opacity: 0;
  display: block;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fixed-text1 .line.animate {
  opacity: 1;
  transform: translateY(0);
}
.fixed-text2 .line {
  opacity: 0;
  display: block;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fixed-text2 .line.animate {
  opacity: 1;
  transform: translateY(0);
}
.fixed-text3 .line {
  opacity: 0;
  display: block;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fixed-text3 .line.animate {
  opacity: 1;
  transform: translateY(0);
}
.animateThingsMind .thingsMind {
  opacity: 0.1;
  transform: translateX(-350px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.animateThingsMind .thingsMind.animate {
  opacity: 1;
  transform: translateX(0);
}

/* Media Queries for responsiveness */

/* Tablets */
@media (max-width: 1024px) {
  .thingsTitle h3{
    
    font-size: calc(1.8vw + 2.5rem);
   
     }
  .fixed-text h1 {
    font-size: calc(12vw + 1rem);
  }
  .fixed-text2 h2 {
    font-size: calc(8vw + 1rem);

  }
  .fixed-text1 h2 {
    font-size: calc(8vw + 1rem);

  }
  .fixed-text3 h2 {
    font-size: calc(5vw + 0.5rem);

  }
  .scroll-text h6 {
    font-size: calc(1.8vw + 0.5rem);
    max-width: calc(700px - 5vw);
  }
  .thingsText {
    width: 45%;
   
  }
  .thingsText h4{
    font-size: calc(1.1vw + 0.5rem);
    max-width: calc(700px - 5vw);
  }
  .textScroll {
    max-width: 100%;
    float: none;
    padding-bottom: calc(0px + 1rem);
  }

  .cta-scroll {
    flex-direction: column;
    align-items: flex-start;
  }

  .cta-scroll span {
    font-size: calc(1.2rem + 0.5vw);
    padding: calc(8px + 1vw) calc(10px + 2vw);
  }
  .textFixed {
   
    padding-bottom: calc(50px + 1rem);
  }
}

/* Mobile Phones */
@media (max-width: 480px) {
  .thingsTitle h3 {
    font-size: calc(1.8vw + 2.5rem);
   
  }
  .thingsMind{
   flex-wrap:wrap;   
    }
  .thingsTitle, .thingsText{
      width:100%; 
      }
  .fixed-text2 h2{
    font-size: calc(9vw + 0.5rem);
    text-align: center;
 
  }
  .fixed-text1 h2{
    font-size: calc(9vw + 0.5rem);
    text-align: center;
 
  }
  .fixed-text h1 {
    font-size: calc(15vw + 0.5rem);
    text-align: ;
  }
 
  .fixed-text3 h2 {
    font-size: calc(8vw + 0.5rem);
    text-align: ;
  }
  .scroll-text h6 {
    font-size: calc(2.3vw + 0.5rem);
    text-align: ;
  }
  .thingsText h4{
    font-size: calc(2.1vw + 0.5rem);
  }

  .cta-scroll span {
    font-size: calc(1.2rem + 0.5vw);
    padding: calc(8px + 1vw) calc(10px + 2vw);
  }
}
