.section-process {
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.thingsMind {
  padding: 1.4em 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thingsTitle {
  width: 50%;
  height: 100%;
}

.thingsTitle h3 {
  padding: 5px 0 20px 0;
  font-size: calc(2.8vw + 2.5rem);
  font-weight: 200;
}

.thingsText {
  width: 30%;
  height: 100%;
}

.thingsText h4 {
  font-size: calc(0.8vw + 0.5rem);
  max-width: calc(500px - 5vw);
  margin: 0;
  font-weight: 200;
  text-align: left;
  line-height: 1.2em;
}

hr.style4 {
  border-top: 2px solid;
  position: relative;
}

/* ANIMAZIONE */
.animateThingsMind .thingsMind {
  opacity: 0.1;
  transform: translateX(-350px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.animateThingsMind .thingsMind.animate {
  opacity: 1;
  transform: translateX(0);
}
